{% extends "base.html" %}

{% block title %}
    Cosechas-Carpa
{% endblock title %}



{% block content %}
    <div class="row mt-5 justify-content-center">
        <a class="card-menu col-11 col-md-8 card text-white bg-primary shadow my-3 mx-md-3 text-card" href="people">
            <div class="card-header row align-items-center h-100">
                <ion-icon class="col-5 h-100" name="chevron-forward-outline"></ion-icon>
                <div class="col-5 card-body text-center">
                    <h3 class="m-0">Personas</h3>
                </div>
            </div>
        </a> 
         <a class="card-menu col-11 col-md-8 card text-white bg-primary shadow my-3 mx-md-3 text-card" href="origin">
            <div class="card-header row align-items-center h-100">
                <ion-icon class="col-5 h-100" name="chevron-forward-outline"></ion-icon>
                <div class="col-5 card-body text-center">
                    <h3 class="m-0">Origen</h3>
                </div>
            </div>
        </a>
         <a class="card-menu col-11 col-md-8 card text-white bg-primary shadow my-3 mx-md-3 text-card" href="vehicles">
            <div class="card-header row align-items-center h-100">
                <ion-icon class="col-5 h-100" name="chevron-forward-outline"></ion-icon>
                <div class="col-5 card-body text-center">
                    <h3 class="m-0">Vehículos</h3>
                </div>
            </div>
        </a> 
    </div>

{% endblock content %}
