:root {
  --blue-color: #093456;
  --green-color: #009200;
  --green2-color: #7EAE1A;
  --white-color: #EDE9D4;
  --orange-color: #FF6700;
}


body {
    background-color: var(--green-color);
  }

.page-footer{
    background-color: var(--blue-color);

    color: white;
}

.page-footer-login{
  background-color: var(--blue-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.navbar {
   background-color: var(--blue-color);
}

.navbar-brand{
  color: var(--white-color) !important;
}

.content{
  background-color: white !important;
  min-height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;

}

.title{
  color: var(--green-color);
}

.button{
  background-color: var(--green-color) !important;
  color: white;
}

.button-navbar{
  background-color: var(--blue-color) !important;
  color: white;
  border-color: white;
}

.button-navbar:hover{
  background-color: var(--orange-color) !important;
  color: var(--blue-color);
  border-color: var(--blue-color);
}

.card-menu{
  text-decoration: none !important;
  height: 18vh;

}

.card-header{
  background-color: var(--blue-color);
}

.card-header:hover, .tituloco:hover {
  color: var(--blue-color);
  background-color:var(--orange-color);
}