{% extends "base.html" %}

{% load static %} 

{% block title %}
    Home-Carpa
{% endblock title %}



{% block content %}
    
    <div class="row mt-5 justify-content-center">
         <a class="card-menu col-11 col-md-5 card text-white bg-primary shadow my-2 mx-md-2 text-card" href="statistics">
            <div class="row align-items-center">
                 <img class="col-6" src="http://via.placeholder.com/300x180" alt="Card image cap">
                <div class="col-6 card-body text-center">
                    <h3 class="m-0" >Estadísticas</h3>
                </div>
            </div>
        </a>  
        <a class="card-menu col-11 col-md-5 card text-white bg-primary shadow my-2 mx-md-2 text-card" href="people">
            <div class="row align-items-center">
                 <img class="col-6" src="http://via.placeholder.com/300x180" alt="Card image cap">
                <div class="col-6 card-body text-center">
                    <h3 class="m-0">Personas</h3>
                </div>
            </div>
        </a> 
         <a class="card-menu col-11 col-md-5 card text-white bg-primary shadow my-2 mx-md-2 text-card" href="origin">
            <div class="row align-items-center">
                 <img class="col-6" src="http://via.placeholder.com/300x180" alt="Card image cap">
                <div class="col-6 card-body text-center">
                    <h3 class="m-0">Origen</h3>
                </div>
            </div>
        </a>
         <a class="card-menu col-11 col-md-5 card text-white bg-primary shadow my-2 mx-md-2 text-card" href="vehicles">
            <div class="row align-items-center">
                 <img class="col-6" src="http://via.placeholder.com/300x180" alt="Card image cap">
                <div class="col-6 card-body text-center">
                    <h3 class="m-0">Vehículos</h3>
                </div>
            </div>
        </a> 
         <a class="card-menu col-11 col-md-5 card text-white bg-primary shadow my-2 mx-md-2 text-card" href="reports">
            <div class="row align-items-center">
                 <img class="col-6" src="http://via.placeholder.com/300x180" alt="Card image cap">
                <div class="col-6 card-body text-center">
                    <h3 class="m-0">Reportes</h3>
                </div>
            </div>
        </a>   
    </div>

{% endblock content %}